@page "{id:int}"
@model VideoGameManager.Pages.Games.DetailsModel
@{
    ViewData["Title"] = "Details Page";
}
<div>
    <h1>@Model.GameSelected.Title</h1>
    <div class="row">
        <div class="col-xxl">Genre: @Model.GameSelected.Genre</div>
        <div class="col-xxl">Year: @Model.GameSelected.Year</div>
    </div>
    <div class="row">
        <div class="col-xxl">Score: @Model.GameSelected.Score</div>
        <div class="col-xxl">Description: @Model.GameSelected.Description</div>
    </div>
</div>
